* {
  font-size: 14px;
  color: white;
  background-color: black;
}

#form_Name, #form_Menu, .form_end {
  display: none;
}


#inputName, #menuNum, #endNum {
  border: none;
}


input[type="text"]:focus {
  color: black;
  background-color: white;
}

input[type="text"]:blur {
  color: white;
  background-color: black;
}

.contents {
  display: none;
}

.hideSub {
  visibility: hidden;
}

/*
* {
  font-size: 16px;
  color: white;
  background-color: black;
}

#inputForm, #menuForm {
  display: none;
}

#inputName, #menuNum {
  border: none;
}

input:focus {
  color: black;
  background-color: white;
}

input:blur {
  color: white;
  background-color: black;
}

#contents {
  display: none;
}
*/